@import "../variables.scss";
@import "../mixins.scss";

.post-root {
  @include page-root;

  .post {
    max-width: 100%;
    overflow-y: hidden;

    .post-title {
      width: 100%;
      text-align: left;
    }
    .post-content {
      width: 100%;
      text-align: left;
    }

    pre {
      code {
        span {
          white-space: pre-line;
        }
      }
    }

    a {
      white-space: pre-line;
    }

    figure {
      img {
        width: 100%;
      }
    }
  }
}
