@import "../variables.scss";
@import "../mixins.scss";

.posts-root {
  @include page-root;

  h1 {
    text-align: left;
  }

  .posts-item {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $bg-color-4;
    }
  }
}
