@import "../variables.scss";
@import "../mixins.scss";

.profile-root {
  @include page-root;

  h1 {
    text-align: left;
  }

  h2 {
    text-align: left;
  }

  hr {
    margin-top: 5rem;
  }

  dl {
    dt {
      font-weight: 800;
    }
    dd {
      margin-bottom: 1rem;
    }
  }

  .canvas-contact-loading {
    @include index-content-width;
    height: 15rem;
  }

  .contact-container {
    h2 {
      text-align: left;
    }
    dt {
      color: $text-secondary;
    }
    dd {
      margin: 0 0 1rem 0;
    }
  }

  .history-description {
    margin: 1rem 0;
  }
}
