@import "./variables.scss";

.inline {
  display: inline;
}

.width-100-p {
  width: 100%;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.bg-success-3 {
  background: $bg-color-success-3;
}

.bg-error-3 {
  background: $bg-color-error-3;
}

img.img-size-sm {
  width: 10vw;
}

img.img-size-md {
  width: 15vw;
}

img.img-size-lg {
  width: 20vw;
}
