$bg-color-1: #000000;
$bg-color-2: #1f1f1f;
$bg-color-3: #414141;

$bg-color-3-active: #4e4e4e;

$primary-color-1: #3527f0;
$primary-color-2: #4438ec;

$primary-color-3-active: #685dfd;
$primary-color-3-inactive: #5349dd;

$text-inactive: #b6b6b6;
$text-active: #ffffff;
